@charset "UTF-8";

ol, ul {
	padding-left: 0px !important;
}

/* 헤더로고영역 */
#headerLogo {
	position: relative;
	width: 1050px;
	height: 63px;
	margin: 0 auto
}

#headerLogo .bnr_delivery { /* 배송안내버튼 */
	position: absolute;
	left: -1px;
	top: -28px;
	margin: auto;
	height: 22px
}

#headerLogo .logo {
	position: absolute;
	left: 0;
	bottom: 6px;
	width: 100%;
	height: 79px;
	text-align: center
}

#headerLogo .logo .link_main {
	display: inline-block;
	height: 79px
}

#headerLogo .logo img {
	display: block;
	width: 134px;
	height: 90px;
	margin: 0 auto;
	color: transparent;
}

#headerLogo .logo #gnbLogoContainer {
	margin: 0 auto
}

#gnb .gnb_mb {
	position: relative;
	z-index: 300;
	min-width: 1050px;
	background-color: #fff;
	font-family: 'Noto Sans';
	letter-spacing: -0.3px
}

#gnb .gnb_mb:after {
	content: "";
	position: absolute;
	z-index: 299;
	left: 0;
	top: 56px;
	width: 100%;
	height: 9px;
	background: url(https://res.kurly.com/pc/service/common/1902/bg_1x9.png)
		repeat-x 0 100%
}

#gnb .inner_gnb_mb {
	position: relative;
	width: 1050px;
	height: 56px;
	margin: 0 auto
}

.menu1 .sub {
	display: none;
}

/* 검색창 */
#gnb .gnb_search {
	position: absolute;
	right: 174px;
	top: 10px;
	width: 242px
}

#gnb .gnb_search .inp_search {
	width: 242px;
	height: 36px;
	padding: 0 60px 0 14px;
	border: 1px solid #f7f7f6;
	border-radius: 18px;
	background-color: #f7f7f7;
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 12px;
	color: #666;
	line-height: 16px;
	outline: none
}

#gnb .gnb_search .inp_search.focus {
	background-color: #fff;
	color: #333
}

#gnb .gnb_search .btn_search {
	position: absolute;
	right: 5px;
	top: 3px;
	width: 30px;
	height: 30px
}
/* 장바구니 */
#gnb .cart_count {
	position: absolute;
	right: -5px;
	top: 10px
}

#gnb .cart_count .inner_cartcount {
	text-align: center;
	font-weight: 400
}

#gnb .cart_count .btn_cart {
	display: block;
	width: 36px;
	height: 36px;
	background:
		url(https://res.kurly.com/pc/service/common/2011/ico_cart.svg)
		no-repeat 50% 50%
}

#gnb .cart_count .btn_cart:hover {
	background:
		url(https://res.kurly.com/pc/service/common/2011/ico_cart_on.svg?v=1)
		no-repeat 50% 50%
}

#gnb .cart_count .num {
	display: none;
	position: absolute;
	left: 19px;
	top: -1px;
	min-width: 20px;
	height: 20px;
	padding: 0 5px;
	border: 2px solid #fff;
	border-radius: 10px;
	background-color: #5f0080;
	font-size: 9px;
	color: #fff;
	line-height: 15px;
	text-align: center;
	white-space: nowrap
}

#gnb .cart_count img {
	display: block;
	width: 36px;
	height: 36px;
	margin: 0 auto
}

#gnb .cart_count .msg_cart {
	display: none;
	position: absolute;
	right: -7px;
	top: 61px;
	width: 348px;
	border: 1px solid #ddd;
	background-color: #fff; /* opacity:0; */
}

#gnb .cart_count .inner_msgcart {
	display: block;
	overflow: hidden;
	padding: 20px 0 20px 20px
}

#gnb .cart_count .msg_cart .thumb {
	float: left;
	width: 46px;
	height: 60px
}

#gnb .cart_count .msg_cart .desc {
	float: left;
	width: 260px;
	padding: 8px 0 0 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px
}

#gnb .cart_count .msg_cart .desc.add {
	padding-top: 0;
	margin-top: -5px;
}

#gnb .cart_count .msg_cart .tit {
	display: block;
	overflow: hidden;
	width: 100%;
	color: #999;
	white-space: nowrap;
	text-overflow: ellipsis
}

#gnb .cart_count .msg_cart .name {
	overflow: hidden;
	float: left;
	max-width: 178px;
	text-overflow: ellipsis
}

#gnb .cart_count .msg_cart .txt {
	display: block;
	padding-top: 3px;
	color: #333
}

#gnb .cart_count .msg_cart .point {
	position: absolute;
	right: 13px;
	top: -14px;
	width: 20px;
	height: 14px;
	background: url(https://res.kurly.com/pc/ico/1903/ico_layer_point.png)
		no-repeat 0 0
}

#gnb .cart_count .msg_cart .repeat {
	display: none
}

#gnb .cart_count .msg_cart .add .repeat {
	display: block
}
/* GNB메인 */
#gnb .gnb_main {
	overflow: hidden;
	width: 1050px;
	margin: 0 auto
}

#gnb .gnb_main .gnb {
	float: left;
	width: 100%
}

#gnb .gnb_main .gnb li {
	float: left
}

#gnb .gnb_main .gnb .lst {
	background: none
}

#gnb .gnb_main .gnb a {
	overflow: hidden;
	float: left;
	width: 124px;
	height: 55px;
	padding: 16px 0 0;
	font-size: 16px;
	color: #333;
	line-height: 20px;
	text-align: center
}

#gnb .gnb_main .gnb a .txt {
	font-weight: 700
}

#gnb .gnb_main .gnb a:hover, #gnb .gnb_main .gnb a.on {
	font-weight: 700;
	color: #5f0080
}

#gnb .gnb_main .gnb a:hover .txt {
	border-bottom: 1px solid #5f0080
}

#gnb .gnb_main .menu1 a {
	width: 148px
}

#gnb .gnb_main .menu1 .ico {
	float: left;
	width: 16px;
	height: 14px;
	margin: 5px 14px 0 0;
	background:
		url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off.png)
		no-repeat
}

#gnb .gnb_main .menu1 a.on .ico, #gnb .gnb_main .menu1 a:hover .ico {
	background:
		url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all.png)
		no-repeat 0 0
}

#gnb .gnb_main .menu1 a.on .txt, #gnb .gnb_main .menu1 a:hover .txt,
	#gnb .gnb_main .menu1 .txt {
	float: left;
	font-weight: 700;
	border-bottom: 0
}

#gnb .gnb_main .menu3 a {
	width: 116px
}

#gnb .gnb_main .lst a {
	width: 116px
}

/* GNB서브 */
#gnb .menu1:hover .gnb_sub {
	display: block;
	background-color: white;
	cursor: pointer;
}

#gnb .gnb_sub {
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 301;
	left: 0;
	top: 55px;
	width: 170px;
	padding-top: 1px;
	border: 1px solid #ddd;
}

#gnb .gnb_sub li {
	width: 100%;
	text-align: left;
	padding: 12px;
}

#gnb .gnb_sub .menu {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 40px;
	padding: 8px 0 0 14px;
	cursor: pointer
}

#gnb .gnb_sub .current .menu {
	background: #f7f7f7
}

#gnb .gnb_sub .current .txt, #gnb .gnb_sub .menu.on.off:hover .txt, #gnb .gnb_sub .menu.on .txt
	{
	font-weight: 700;
	color: #5f0080
}

#gnb .gnb_sub .ico {
	float: left;
	width: 24px;
	height: 24px
}

#gnb .gnb_sub .ico img {
	width: 24px;
	height: 24px
}

#gnb .gnb_sub .ico .ico_off {
	display: block
}

#gnb .gnb_sub .ico .ico_on {
	display: none
}

#gnb .gnb_sub .current .ico_off, #gnb .gnb_sub .menu.on .ico_off, #gnb .gnb_sub .menu:hover .ico_off
	{
	display: none
}

#gnb .gnb_sub .current .ico_on, #gnb .gnb_sub .menu.on .ico_on, #gnb .gnb_sub .menu:hover .ico_on
	{
	display: block
}

#gnb .gnb_sub .ico_arrow {
	display: none;
	float: right;
	width: 16px;
	height: 17px;
	padding: 6px 9px 0 0
}

#gnb .gnb_sub .ico_arrow img {
	width: 7px;
	height: 11px
}

#gnb .gnb_sub .current .ico_arrow {
	display: block
}

#gnb .gnb_sub .txt {
	float: left;
	padding: 0 4px 0 10px;
	font-weight: 400;
	font-size: 14px;
	color: #333;
	line-height: 22px;
	white-space: nowrap
}

#gnb .gnb_sub .txt:hover {
	color: #5f0080;
}

#sub_a {
	height:0 !important;
	padding:0 !important;
}

#gnb .gnb_sub .ico_new {
	overflow: hidden;
	float: left;
	width: 14px;
	height: 14px;
	margin-top: 5px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	image-rendering: -webkit-optimize-contrast;
}

/* location_set */
#gnb .btn_location {
	overflow: hidden;
	position: absolute;
	right: 107px;
	top: 10px;
	width: 36px;
	height: 36px;
	border: 0 none;
	background:
		url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting_done.svg)
		no-repeat 50% 50%;
	font-size: 0;
	text-indent: -9999px
}

#gnb .btn_location.on {
	background-image:
		url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting.svg?ver=1)
}

#gnb .layer_location {
	display: none;
	position: absolute;
	z-index: 300;
	right: 41px;
	top: 56px;
	width: 315px;
	padding: 18px 18px 19px 20px;
	border: 1px solid #ddd;
	background-color: #fff
}

#gnb .layer_location:after {
	content: "";
	position: absolute;
	right: 66px;
	top: -50px;
	width: 36px;
	height: 50px;
	background:
		url(https://res.kurly.com/pc/ico/2011/ico_point_up_18x12.svg)
		no-repeat 50% 100%
}

#gnb .layer_location * {
	font-weight: 500;
	font-size: 16px;
	color: #333;
	line-height: 24px;
	letter-spacing: -0.34px
}

#gnb .layer_location .delivery {
	display: inline-block;
	padding-top: 8px;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: -0.2px;
	line-height: normal;
}

#gnb .layer_location .courierTime {
	display: inline-block;
	margin-left: 6px;
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	color: #666;
	letter-spacing: -0.2px;
}

#gnb .layer_location .star {
	color: #5f0080
}

#gnb .layer_location .regular {
	color: #666
}

#gnb .layer_location .none {
	color: #999
}

#gnb .layer_location .btn {
	display: block;
	width: 100%;
	height: 36px;
	margin-top: 17px;
	padding-bottom: 2px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 32px;
	letter-spacing: 0;
	text-align: center
}

#gnb .layer_location .btn_location:hover .layer_location {
	display: block;
}

#gnb .layer_location a.btn {
	padding-top: 0
}

#gnb .layer_location .btn.default {
	border: 1px solid #5f0080;
	background-color: #fff;
	color: #5f0080
}

#gnb .layer_location .btn.active {
	border: 1px solid #5f0081;
	background-color: #5f0080;
	color: #fff
}

#gnb .layer_location .btn .ico {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 6px 0 0 -6px;
	background: url(https://res.kurly.com/pc/ico/2008/ico_search_40x40.png)
		no-repeat 50% 50%;
	background-size: 20px 20px;
	vertical-align: top
}

#gnb .layer_location .group_button {
	display: block;
	overflow: hidden
}

#gnb .layer_location .double .default {
	float: left;
	width: 110px
}

#gnb .layer_location .double .active {
	float: right;
	width: 159px
}

#gnb .layer_location .double .btn {
	margin-left: 0;
	margin-right: 0;
}

#gnb .layer_location .emph {
	color: #5f0080
}

#gnb .location_set:hover .btn_location.on {
	background-image:
		url(https://res.kurly.com/pc/ico/2010/ico_delivery_setting_on.svg)
}

#gnb .location_set:hover .layer_location {
	display: block;
}

/* gnbPick */
#gnb .gnbPick {
	display: inline-block;
	position: absolute;
	right: 51px;
	top: 10px;
	width: 36px;
	height: 36px;
	font-size: 0px;
}

#gnb .gnbPick .btn_pick {
	display: inline-block;
	width: 36px;
	height: 36px;
	border: none;
	color: transparent;
	background: url(https://res.kurly.com/pc/service/pick/btn-heart-off.svg)
		no-repeat 50% 50%;
	cursor: pointer;
}

#gnb .gnbPick .btn_pick:hover {
	background:
		url(https://res.kurly.com/pc/service/pick/btn-heart-hover.svg)
		no-repeat 50% 50%;
}
/* 오류 */
#gnb .layer_location .error .txt {
	display: block;
	color: #333
}

.gnb_search .init {
	position: relative
}

.gnb_search .init .btn_delete {
	overflow: hidden;
	position: absolute;
	left: 170px;
	top: -36px;
	width: 36px;
	height: 36px;
	border: 0 none;
	background: url(https://res.kurly.com/pc/ico/2010/ico_search_del.svg)
		no-repeat 50% 50%;
	background-size: 12px 12px;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	opacity: 0
}

.gnb_search .init .btn_delete.on {
	opacity: 1
}